<% include _header %>

<div class="header">
  <h1>Welcome to the Portfolio Mini_Project Website</h1>
  <h2>Use the navigation menu to register, login and manage your profile, or simply view other people's portfolios.</h2>
  <h2>Have fun!</h2>

</div>


<% include _footer %>
